.toggle-head{
    height: 5rem;
    display: none;
}
.logo-img{ 
    width: 23rem;
}

.head-cont{
    width: 100%;
    padding: 0 2.5rem;
    display: flex;
    /* flex-direction: column; */
    position: absolute;
    top: 0px;
    left: 0;
    background-color: transparent;
    /* background-color: #2980b9; */
    z-index: 90;
}
.bgcol{
    background-color:#fff;
    position: fixed;
    top: 0px;
    left: 0;
}
.head-logo{
    /* background-color: yellow; */
    float: left;
    text-align: left;
    display: flex;
    justify-content: start;
    align-items: center;
}
.head-logo img{
    width: 15rem;
}

/* NavHeadLinks */

.links-cont ul{
    display: flex;
    background-color: wheat;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
font-size: 1.7rem;
font-weight: 500;
color: #000;
background: transparent;
/* padding: 0 0 2rem; */
position: relative;

}
.links-cont ul li{
    padding: .6rem;
    margin: .4rem;
    list-style: none;

}
.links-cont ul li a{
    text-decoration: none;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;

}
.links-cont ul li a .arrow-icon{
margin: .2rem;

}

.links-cont ul li a:hover{
    color: #2980b9;
}
.links-cont ul li a:hover .arrow-icon{
    transform: rotate(180DEG);

}
   

.links-cont ul .sub-menu{
    display: flex;
    flex-direction: column;
    display: none;
    position: absolute;
    /* transform: translateX(-35%); */
   max-width: 18rem;
    padding: .3rem;
    margin: .3rem;
    background-color:transparent;
    font-size: 1.2rem;
}
/* .links-cont ul .sub-menu::before{
    content:"";
    width: 100%;
    height: .2rem;
    background-color: #2980b9;
} */

.links-cont ul li:hover .sub-menu ,.links-cont ul .sub-menu::before{
    display: block;
    /* background-color:bisque; */
}

@media (max-width:1200px) {
    .head-cont{
        width: 100%;
        padding: 2.5rem;
        display: flex;
        flex-direction: column;
        /* position: absolute; */
        /* top: 0px; */
        /* left: 0; */
        background-color: transparent;
        /* background-color: #2980b9; */
        z-index: 90;
    }
    .links-cont ul .sub-menu{
        display: flex;
        flex-direction: column;
        display: none;
        position: absolute;
        /* transform: translateX(-35%); */
       max-width: 18rem;
        padding: .3rem;
        margin: .3rem;
        background-color:#fff;
        font-size: 1.2rem;
    }
    .bgcol{
        background-color:#fff;
        position: fixed;
        top: 0px;
        left: 0;
    }
}
@media (max-width:750px) {

    .toggle-head{
        height: 5rem;
        /* background-color: aqua; */
        display:flex;
        justify-content: space-between;
margin-bottom: 2rem;
    }
    .toggle-head a img{ 
        width: 23rem;
    }
    .iconz{
        font-size: 5rem; 
        padding: 1.2rem;
font-weight: 450;
        cursor: pointer;
        z-index: 99
    }
   
    .head-cont {
display: none;   
       margin: 0;
       padding: 0;
       position: static;
    }
    .head-logo{
        display: none;
        /* display: block; */
    }

    .links-cont ul{
        display: flex;
        flex-direction: column;
        /* background-color: wheat; */
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: -5rem;
        padding: 5rem  2rem;
       position: static;
       transform: translateY(0px);
transition: .3s ease;

}
.links-cont ul li{
        width: 100%;
    }
    .links-cont ul .sub-menu{
        position: static;
             /* transform: translateX(-5%); */
    }
    /* .links-cont ul .sub-menu:hover.arrow-icon{
        transform: rotate(180DEG);
        background-color: yellow;
    
    } */

    .links-cont ul li:focus .sub-menu ,.links-cont ul .sub-menu::before{
        display: block;
        /* background-color:bisque; */
    }

    .togg-bar{
        display: block;
        transition: 3s ease;
    }
    .togg-none{
        display: none;
    }
    
}
