/* button style */
.wraper-btn {
    display: flex;
    justify-content: end;
}

.wraper-btn-left {
    display: flex;
    justify-content: start;
}

.style-btn {
    margin: 1rem 2rem;
    min-width: 15rem;
    position: relative;
    cursor: pointer;
}

.btn-style {
    padding: 1.2rem 2rem;
    background-color: #333;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 570;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 2px;
    /* padding: 0; */
}

.btn-wrap {
    z-index: 20;
    text-decoration: underline;
    color: #fff;
    text-transform: uppercase;
}

.slide-col {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #2980b9;
    ;
    color: #fff;
    border-radius: 2px;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.style-btn:hover .slide-col {
    transition: 0.3s ease-in-out;
    width: 0;
}

.style-btn:hover .btn-wrap {
    text-decoration: none;

}

/* Display flex center */
.flex-center{
    display: flex;
    justify-content: center;
}


/* Home  Container style sheet */
.datasa {
    width: 100%;
}

.datasa h2 {
    margin: 1rem 1.5rem 0 1.5rem;
    font-size: 5rem;
    /* z-index: 10;
    background: transparent; */
    /* color: aqua; */
}

.choose-sec {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Choose Container style sheet */
.choose-cont {
    min-width: 25rem;
    padding: 1.8rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    /* background-color: yellow; */
    /* padding: 5rem 0; */
}

.chos-mar-y-1 {
    margin-top: 4rem;
    /* background-color: aqua; */
    box-sizing: border-box;
}

.chos-mar-y-2 {
    margin-top: 8rem;
    /* background-color: aqua; */
    box-sizing: border-box;
}

.choose-cont .sliiconz {
    color: #2980b9;
    /* background-color: yellow; */
    font-size: 3rem;
    /* transform: translateX(0px); */
    animation: moveresicon .4s forwards ease-in-out;
}

.choose-cont:hover .sliiconz{
/* transform: translateX(-20px); */
animation: moveicon .6s forwards ease-in-out;
/* background-color: #0693e3; */
}
@keyframes moveicon {
    0%{ 
        transform: translateX(0px);
    }
    
    75%{
        transform: translateX(-20px);
    }
    100%{
        transform: translateX(-15px);
    }
    
}
@keyframes moveresicon {
    0%{ 
        transform: translateX(-15px);
    }
    
    75%{
        transform: translateX(5px);
    }
    100%{
        transform: translateX(0px);
    }
    
}



.choose-cont p {
    color: #5b6a78;
    ;
    text-align: justify;
}

.choose-cont a {
    text-transform: uppercase;
}

/* Digital Marketing Data */
.digital-cont {
    display: flex;
    padding: 0 1rem;
    overflow-x: hidden;
    padding-top: 20px;
}

.digital-cont p {
    color: #5b6a78;
    ;
    text-align: justify;
}

.digital-cont img {
    width: 35;
    height: 35rem;
    margin-left: 8rem;
    margin-right: 2rem;
    z-index: 10;
    /* visibility: hidden; */
    transform: translateY(50px);

}

/* .digital-cont:hover img,
.digital-cont:focus img {
    transform: translateY(-20px);
    visibility: visible;
    transition: 1s ease-in-out;
} */



/* Portfolio Container style sheet */

.portfolio-item {
    min-width: 25rem;
    margin: 1rem;
    position: relative;
}

.port-item-disp {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0693e3;
    width: 100%;
    height: 100%;
    max-height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;

}

.portfolio-item figure img {
    max-height: 60rem;
}

.port-item-disp a .port-iconz {
    color: #fff;
    font-size: 3.5rem;
}

.port-item-disp:hover {
    opacity: 0.85;
    transition: all .3s ease-in-out;
}

.port-item-disp p {
    color: #fff;
    font-size: 2.5rem;

}

.port-mar-y-1 {
    margin-top: 6rem;
    /* background-color: aqua; */
    box-sizing: border-box;
}

.port-mar-y-2 {
    margin-top: 10rem;
    /* background-color: aqua; */
    box-sizing: border-box;
}



/* Contact Container style sheet */
.contact-cont {
    display: flex;
}

.contact-email {
    margin: 4.5rem 0;
}

.contact-btn {
    display: flex;
    justify-content: end;
    margin: 1.5rem .5rem;
}
.choose-sec form{
    margin-top: 1.5rem;
}


@media (max-width:750px) {
    .datasa h2 {
        margin: 2rem;
        font-size: 3.5rem;
    }

    .choose-sec {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Choose Container style sheet */
    .choose-cont {
        width: 100%;
        /* background-color: aqua; */
        padding: 1.5rem;
        box-sizing: border-box;
        margin: .3rem;
    }

    .choose-cont .sliiconz {
        color: #2980b9;
        ;
        font-size: 3.5rem;
    }

    .digital-cont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .digital-cont img {
        min-width: 20rem;
        max-width: 30rem;
        max-height: 35rem;
        margin-top: 2rem;
        /* padding: 0 8rem; */
        /* height: ; */
    }
}

@media(max-width:350px) {
    .digital-cont img {
        max-width: 12rem;

        max-height: 12rem;
        margin: 2rem 0;
        padding: 0;
        /* height: ; */
    }
}